numpy
matplotlib
##### Running Jupyter:
Jupyter is a Python package, installed on your machine that does not require importation from Python packages. It is commonly run from the machine command line.

##### How it works:
Once called from the command, the Jupyter Notebook will open a tab on the machine's internet browser. This enables you to access the Jupyter package. If the new tab does not appear, copy the url given on the command line and paste that in the address bar of the internet browser. It is important to note that whatever folder Jupyter is opened in.

To begin using Jupyter, a new file can be opened from the web page. There are two main modes in the Jupyter Notebook: edit and command.
These enable you to input and run code to generate outputs.

Jupyter notebook operates in a sequential mode meaning that the notebook remembers the sequence in which commands were run. This is important when the notebook is run as the notebook will not bring in any commands that have not yet run as part of the sequence. To clear the historical input sequence in the notebook, users should ensure that the notebook is saved by the Save and Checkpoint function. Once saved, the user can us the "Restart and Clear Output" function within the Widget tab to clear all computations. This allows the notebook to run for the beginning through to the end.

Jupyter contains an inbuilt text editor which allows you to document the notebook effectively. This includes using different fonts and text size, hyperlinks and inputting tables among others.

##### Importing Images in Jupyter:

Images in the Jupyter Notebook are brought in through a URL. The images are stored in GitHub in the img folder. This ensures that the project will still be accessible should the original URL or source change. This only image used in the notebook is

• GMIT Logo: (https://raw.githubusercontent.com/martinaobrien/numpy-random/master/img/gmit_logo.jpg)

##### Inserting Internal Hyperlinks

The table of contents is also interactive in the tips dataset assignment Jupyter notebook through adding hyperlinks. This was achieved by adding HTML tags in the markdown in the Jupyter notebook:

##### How to use:
The notebook will be displayed automatically if the requisites named above are installed. A caveat to be mindful of within Jupyter Notebook is that on occasion it won’t display automatically. To override this and render the notebook use the following link and past the url into the following website: https://nbviewer.jupyter.org/